//
// Body
//------------------------------------

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  @include latoRegular();

  font-size: 1.6rem;
  color: $black;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }
}
