//
// Tipography
// ------------------------------------
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  @include montserratBlack();
}

.h1,
h1 {
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 3rem;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.h2,
h2 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;

  @include media-breakpoint-down(xs) {
    font-size: 2rem;
  }

  span {
    color: $primary-color;
  }
}

.h3,
h3 {
  font-size: 2.1rem;
}

.h4,
h4 {
  font-size: 1.8rem;
}

p {
  line-height: 1.5;

  &.subtitle {
    font-size: 1.8rem;
  }
}

.latoLight {
  @include latoLight();
}
