.wp-block-quote {
  @include latoLight();

  background-color: $shine-blue-color;
  background-image: url(../images/quotes.png);
  background-position: bottom -40px right 30px;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  margin: 2rem 0;
  margin-bottom: 4rem;
  padding: 2rem;

  p {
    color: $white;
    font-size: 1.6rem;
  }

  cite {
    color: $gray-300;
    font-size: 1.4rem;
    padding-left: 3.5rem;
    position: relative;

    &:before {
      background-color: $white;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 3rem;
    }
  }
}
