.carousel {
  background-color: $primary-color;

  &-caption {
    bottom: 25%;
    text-align: left;

    @include media-breakpoint-down(lg) {
      bottom: 0;
    }

    &--left {
      text-align: right;
    }
  }

  &__bg {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__secundaria {
    bottom: 0;
    height: 90%;
    position: absolute;
    right: 20%;
    z-index: 2;

    @include media-breakpoint-down(md) {
      position: relative;
      right: 0;
      text-align: center;
    }

    img {
      height: 100%;
      position: relative;
      width: auto;
      z-index: 2;

      @include media-breakpoint-down(md) {
        height: auto;
        width: 50%;
      }
    }
  }

  &__square {
    background-color: $primary-color;
    border-radius: 50%;
    left: 50%;
    margin-left: -130px;
    position: absolute;
    top: 10%;
    width: 260px;
    z-index: 1;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
