.logos {
  &__item {
    display: inline-block;
    margin: 0 1.5rem;
    max-width: 15rem;
    padding: 0 1.5rem;

    @include media-breakpoint-down(md) {
      margin: 0;
      max-width: 14rem;
    }

    @include media-breakpoint-down(sm) {
      margin: 1.5rem 0;
      max-width: inherit;
      width: 100%;
    }

    img {
      @include media-breakpoint-down(sm) {
        max-width: 13rem;
      }
    }
  }
}
