.bg {
  &--blue {
    background-color: $primary-color !important;
    color: $white !important;
  }

  &--black {
    background-color: $secondary-color !important;
    color: $white !important;
  }

  &--important {
    background-color: $third-color !important;
    color: $white !important;
  }

  &--black-gradient {
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(46, 46, 46, 1) 100%);
    color: $white !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#000000', endColorstr='#2e2e2e', GradientType=1);
  }
}
