.footer-site {
  padding-bottom: 10px;

  &__mobile {
    float: right;
  }

  &__widget {
    margin-bottom: 1.5rem;

    img {
      display: block;
      height: auto;
      opacity: 0.6;
      width: 100px;
    }

    p {
      font-size: 1.4rem;
    }

    strong {
      color: #9a8553;
    }
  }

  &__title {
    @include latoLight();

    text-transform: uppercase;
  }

  &__copyright {
    border-top: solid 1px #333;
  }
}
