.header-site {
  background-color: $black;
  padding: 1rem 0;

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }

  &__navbar {
    padding: 0;
  }

  &__logo {
    border-radius: 50%;
    padding: 5px;

    &--home {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__nav {
    li {
      a {
        color: $white !important;
        font-size: 1.8rem;
        font-weight: 300;
        padding: 2.5rem 1.5rem !important;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
          padding: 0.5rem 1rem !important;
        }

        &:hover {
          color: $primary-color !important;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-toggler {
    border-color: $white;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }
}
